{% extends "template.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block content %}

        <!--================Team Area =================-->
      <section class="home_banner_area">

            <div class="container">
				<div class="advanced_search" style="margin-top: 2%!important; margin-right: 30%;box-shadow: 21.21px 21.21px 30px 21.21px rgba(158,158,158,0.3);">
					<h3>LogIn</h3>

                    <input type="text" name="usename" placeholder="Enter UserName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
					<br>
                    <input type="password" name="password" placeholder="Enter Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">




					<button type="submit" value="submit" class="btn submit_btn">LogIn</button>
                    <button type="submit" value="submit"  id ="reset"class="btn submit_btn">Reset</button>



				</div>
            </div>
        </section>
        <!--================End Team Area =================-->

        <!--================Feature Area =================-->
        <!--================End Feature Area =================-->



{% endblock %}
