{% extends "template.html" %}

{% load static %}

{% block customCSS %}
     <link rel="stylesheet" href="{% static '/css/sb-admin.css' %}">
{% endblock %}


{% block content %}
 <div  class="formPaddingBox">
     <div class="card mb-3">
         <div class="card-header">
					<i class="fa fa-table"></i> Create New User Account
         </div>
                <br>
          <div>
            <div>
              <form
                  action="{% url 'myapp:Users_create' %}"
                  method="post">
                {% csrf_token %}
                {{ formU.as_p }}
                  {{ formP.as_p }}
                  <br>
                <button type="submit"class="btn btn-primary">
                  Create User</button>
                  <br>
              </form>
            </div>
          </div>
     </div>
 </div>

{% endblock %}
