{% extends "template.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block content %}

        <!--================Properties Area =================-->
        <section class="properties_area">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Top Rated Properties</h2>
{#        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>#}
        		</div>
        		<div class="row properties_inner">



        			<div class="col-lg-4">
        				<div class="properties_item">
        					<div class="pp_img">
        						<img class="img-fluid" src="{% static '/img/properties/pp-1.jpg' %}" alt="">
        					</div>
        					<div class="pp_content">
        						<a href="#"><h4>04 Bed Duplex</h4></a>
        						<div class="tags">
        							<a href="#">04 Beds</a>
        							<a href="#">03 Baths</a>
        							<a href="#">750 sqm</a>
        							<a href="#"><i class="fa fa-check" aria-hidden="true"></i>Pool</a>
        							<a href="#"><i class="fa fa-times" aria-hidden="true"></i>Bar</a>
        							<a href="#"><i class="fa fa-times" aria-hidden="true"></i>Pool</a>
        						</div>
        						<div class="pp_footer">
        							<h5>Total: $3.5M</h5>
        							<a class="main_btn" href="#project1" data-toggle="modal">More Info</a>
        						</div>
        					</div>
        				</div>
        			</div>





        		</div>
        	</div>
        </section>
        <!--================End Properties Area =================-->



{% endblock %}
